header {
  width: 100%;
  height: 720px;
  position: relative;
}
.Hero {
  width: 85%;
  margin: auto;
  position: relative;
  height: 500px;
  padding: 60px 0px;
  /* background-color: #f17216; */
  display: flex;
  align-items: center;
}
.Hero-left,
.Hero-right {
  width: 50%;
  /* background-color: #fb3f6c; */
}
.Hero-left {
  align-self: center;
}
.Hero-left h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f17216;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.Hero-left h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.02em;
  color: #282c4b;
  margin-bottom: 20px;
}
.Hero-left p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #747582;
  margin: 20px 0px;
}
.Hero-left .btn button {
  height: 50px;
  width: 140px;
  outline: none;
  background: linear-gradient(97.32deg, #ff698d -3.47%, #fb3f6c 108.43%);
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 30px 50px rgba(168, 22, 75, 0.15);
  border-radius: 192px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
.Hero-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.Hero-right img:first-child {
  width: 85%;
  height: 100%;
  /* object-fit: contain; */
}
.Hero-right-img1 {
  position: absolute;
  top: 50%;
  left: 0;
  top: 35%;
  width: 30%;
  object-fit: scale-down;
}
.Hero-right-img2 {
  position: absolute;
  right: 0;
  top: 35%;
  width: 40%;
  object-fit: scale-down;
}
.Hero-info {
  position: absolute;
  height: 106px;
  width: 209px;
  bottom: 0;
  right: 0;
  z-index: 4;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 10px 24px 40px rgba(168, 22, 75, 0.07);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Hero-info-rating span {
  font-size: 28px;
  font-weight: 600;
  margin-right: 8px;
}
.Hero-info-rating svg {
  color: #ff876c;
}
.left-triangle {
  border-top: 325px solid transparent;
  border-left: calc(100vw / 1.4) solid rgba(255, 100, 137, 0.06);
  border-bottom: 0px solid transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}
.right-triangle {
  border-top: 600px solid transparent;
  border-right: calc(100vw / 1.4) solid rgba(255, 100, 137, 0.05);
  border-bottom: 0px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 991px) {
  header {
    height: 100%;
  }
  .Hero {
    height: 100%;
    flex-direction: column;
    padding: 30px 0px 0px 0px;
  }
  .Hero-left,
  .Hero-right {
    width: 100%;
    height: max-content;
  }
  .Hero-right {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 541px) {
  .Hero .Hero-left h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .Hero-left h3 {
    font-size: 15px;
  }
  .Hero-left p {
    font-size: 16px;
    line-height: 30px;
  }
  .Hero-info {
    height: 85px;
    padding: 2px 0px;
  }
  .Hero-right img:first-child {
    width: 100%;
    height: 100%;
  }
  .Hero-info-rating span {
    font-size: 20px;
  }
  .Hero-info img {
    height: 60px;
  }
}
