.Projects {
  width: 100%;
  padding: 40px 0px;
}
.Projects-main {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.Projects-Card {
  width: 370px;
  height: 280px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Projects-Card h3 {
  text-align: center;
}
.Projects-Card:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.Projects-details {
  width: 370px;
  height: 280px;
  padding: 20px 0px;
}
.Projects-details span {
  color: var(--maincolor);
}
.Projects-details h2 {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #282c4b;
}
.Projects-details button {
  background: #ffffff;
  border: 1px solid rgba(255, 105, 141, 0.5);
  border-radius: 80px;
  width: 143px;
  height: 55px;
  color: #282c4b;
  cursor: pointer;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .Projects-main {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 540px) {
  .Projects-main {
    row-gap: 70px;
  }
  .Projects-Card,
  .Projects-details {
    width: 100%;
  }
  .Projects-details {
    height: 200px;
  }
  .Projects-Card img {
    width: 100%;
  }
}
